.bg-1{
    position: relative;
    left:300px;
    height:800px;
    width: auto;
}
h1{
    z-index: 8;
    font-size: 250px;
    padding-bottom:-250px;
}
.img-fluid {
//    margin-top: -00PX
margin-left: -100px;
}

// @media (min-width: 992px) {
    


.selector-for-some-widget {
    box-sizing: content-box;
}

.container-fluid {
    margin-top: -80px;
    margin-left: -5px;
    width: 100%;
}

#mainp {
    margin-top: -99px;
    /* width:100%; */
}

#mainps {
    margin-top: 80px;
}

#six {
    position: relative;
    left: 1280px;
    top: 475px;
}

#mainpl {
    margin-top: 75px;
}

#spark {
    margin-top: -749px;
    margin-left: -85px;
}

#sparks {
    margin-top: -990px;
    margin-left: 1180px;
}

#mai {
    position: relative;
    margin-top: -200px;
    margin-bottom: -235px;
    margin-left: 125px;
}

#sparkil {
    position: relative;
    margin-top: -605px;
    margin-bottom: -235px;
    left: 5px;
}
#sixs{
    position: relative;
    left:800px;
    top:-520px;
    color: #ffffff;
}
.bg-4 {
    position: absolute;
    background-color: #2f2f2f;
    color: #fbbb0d;
    margin-top: -75px;
    height: 100px;
    z-index: 1233;
}

.fb li {
    display: inline;
    position: relative;
    padding-right: 50px;
    margin-top: 835px;
    left:900px;
}

.fb img {
    margin-top: 15px;
}
// }